body {
	font-family: Arial, sans-serif;
	background: linear-gradient(
		to right,
		#fff 50%,
		rgb(243,147,137) 50%
	)
}
.container {
	display: center;
	margin-left: 20% auto;
	padding: 20px;
    color: white;
	size: 50%;
}

h1 {
	text-align: left;
    color: #c2279b;
}

form {
	display: inline;
	margin: 50px auto;
	/* align-items: left; */
}

label {
    color: #000000;
	display: inline;
	float: inline-end;
	font-size: 18px;
    align-items: center;
	margin-right: 2em;
}

input[type="text"],
input[type="number"] {
	display: center;
    color: #fff;
	padding: 8px;
	font-size: 18px;
	border-radius: 8px;
	margin: 15px auto;
	border: 3px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	border-color: aqua;
}

.button{
    display: inline-flex;
    margin: 0 auto;
}

button {
	margin-top: 20px;
	padding: 10px 20px;
	font-size: 18px;
	background-color: #000000;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
}

button:hover {
	background-color: #ed2d5a;
}

#diemTB {
	margin-top: 20px;
	font-size: 20px;
}
